// Конфигурационный файл для tgchatbot
// Синтаксис JSON, но разрешены однострочные комментарии через двойной слэш (как этот)
{
  // Токен поумолчанию (обязателен)
  "defToken": "",
  // Имя модуля cmd на токене поумолчанию для обработки команд (точка входа) (обязательна)
  "defCmd": "constructor_cmd",
  // uId рута (обязателен)
  "root": 517019519,
  // Таймаут хранения отложенных процедур (1000 секунд поумолчанию)
  "timeout": 1000,
  // Форматирование поумолчанию (поумолчанию parse_mode = Markdown)
  "defMarkup": {"parse_mode": "Markdown", "disable_web_page_preview": true},
  // Текстовые логи (поумолчанию false)
  "logs": true,
  // Логи входящих запросов к отложенным процедурам (поумолчанию false)
  "acc": true,
  // Способ подключения к БД
  "db": {"url": "mongodb://localhost:27017/tgchatbot"},
  // Папка с сюжетными модулями (поумолчанию mod)
  "modDir": "mod",
  // Язык (поумолчанию ru)
  "lang": "ru"
}
