///**********
/// Конфигурационный файл для tgchatbot
/// 
/// Синтаксис JSON, но разрешены однострочные комментарии через тройной слэш
/// (как этот)
///
/// @project tgchatbot
/// @author James
/// @licence GPL-2.0-only
///**********

{
/// Базовые админские настройки
  /// Ссылка доступа к боту через web для проброски /start-а с параметром
  "botLink": "https://t.me/BOT_NAME",
  /// Токен поумолчанию string (обязателен)
  "defToken": "",
  /// URL подключения к Mongo БД (обязателен)
  "db": "mongodb://username:password@localhost:27017/tgchatbot",
  /// Язык (поумолчанию ru)
  "lang": "ru",
  /// Массив юзеров с привелегиями
  "priv": {
    "555555555": "admin",
    "777777777": "moder"
  },
  /// Настройка веб-крюка (или false если не нужен)
  /// Предполагается, что ключи лежат в папке tls, или нужно указать абсолютный
  /// путь до файла на хостинге
  /// "webhook": {
  ///  "domain": "test.org",
  ///  "port":   "8443", // Один из 80, 88, 443, 8443
  ///  "path":   "secret/path.html",
  ///  "key":    "key.pem",
  ///  "cert":   "cert.pem",
  ///  "ca":     "ca.pem" // или false для несамоподписанных настоящих сертификатов
  /// }
  /// По умолчанию false
  "webhook": false,
  /// Максимальные размеры клавиатуры (поумолчанию 2*14)
  "kbdSize": {"w": "2", "h": "14"},

/// Продвинутые настройки движка
  /// Точка входа в сюжет по умолчанию (имя_модуля) string (обязательна)
  "defMod": "story",
  /// Таймаут хранения отложенных процедур быстрого хранения в секундах integer
  /// (1000 секунд поумолчанию)
  "timeout": 1000,
  /// Форматирование поумолчанию
  /// (поумолчанию parse_mode = MarkdownV2, disable_web_page_preview = true)
  "defMarkup": {"parse_mode": "MarkdownV2", "disable_web_page_preview": true},
  /// Текстовые логи (поумолчанию false)
  "logs": false,
  /// Логи в консоль (поумолчанию false)
  "conlogs": false
}
